.label--contact{
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.buttonLink--contact{
    width: 195px;
    height: 38px;
    margin-top: 70px;
    background-color: white;
    border: none;
}

.buttonLink--speak{
    width: 195px;
    height: 38px;
    margin-top: 10px;
    background-color: white;
    border: none;
}

.label--speak{
    font-size: 12px;
    font-weight: 600;
    color: black;
}

/**Mobile**/

.label--contactMobile{
    font-size: 12px;
    font-weight: 600;
    color: black;
}

.buttonLink--contactMobile{
    
    margin-top: 70px;
    background-color: white;
    border: none;
}

.buttonLink--speakMobile{
    width: 50px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border: none;
}
.label--speakMobile{
    font-size: 12px;
    font-weight: 600;
    color: black;
}