.strong--more {
    margin-left: 2rem;
}
.strong--more::after {
    content: "";
    width: 100px;
    height: 4px;
    border-bottom: 4px solid #C0C0C0;
    display: block;
    margin-left: 2rem;
  }
.wrapper--titlenews{
    font-size: 22px;
    font-weight: 700;
}
.container--loc{
    width: 200px;
    padding-top: 5px;
}
.wrapper--loc {
    width: 200px;
}
.italic--loc {
    margin-left: 2rem;
    font-size: 20;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.container--end{
    width: 200px;
    margin-top: -10px;
}
.paragraph--end{
    margin-left: 2rem;
    font-size: 13px;
    font-weight: 400;
    color: white;
}

.wrapper--footerIconMail{
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    display: flex;
}

.paragraph--footerIconMail{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.image--footerIconMail {
    margin-right: 8px;
}

.strong--footerIconMail{
    line-height: 15px;
}

.container--core{
    background-color: black;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
}
.container--vtex {
    background-color: black;
    height: 180px;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}
.paragraph--core{
    font-size: 10px;
    font-weight: 400;
    color: white;
}
.paragraph--vtex{
    font-size: 10px;
    font-weight: 400;
    color: white;
}

@media (max-width: 1024px) {
        
}

.container--locMobile {
    background-color: black;
}
.container--endMobile {
    background-color: black;
    height: 100px;
}

.italic--locMobile {
    margin-left: 2rem;
    font-size: 20;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.paragraph--endMobile{
    margin-left: 2rem;
    font-size: 13px;
    font-weight: 400;
    color: white;
}
.container--coreMobile{
    background-color: black;
    height: 150px;
    
}
.container--vtexMobile {
    background-color: black;
    height: 50px;
}
.paragraph--coreMobile{
    font-size: 10px;
    font-weight: 400;
    color: white;
    margin-left: 150px;
    margin-top: 100px;
}
.paragraph--vtexMobile{
    font-size: 10px;
    font-weight: 400;
    color: white;
    margin-left: 250px;
    margin-top: -50px;
}