.wrapperButton {
    margin-bottom: 30px;
    padding-bottom: 30px;
    height: 10px;
    margin-top: -30px;
}


.barbutton {
    width: 120px;
    height: 10px;
    background-color: #4d4c4c;
    border: none;
    border-radius: none;
}